@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --darkGray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --veryDarkGray: hsl(0, 0%, 27%);
}

html,
* {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background-color: var(--white);
  font-size: 12px;
}

/* navbar */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1.2rem 2rem;

  width: 50%;
  display: flex;
  align-items: flex-start;
  font-weight: bold;
}

.nav-menu {
  margin-left: 1%;

  display: flex;

  list-style: none;
}

.nav-menu li {
  margin-left: 2rem;
  color: var(--white);
  cursor: pointer;
}

/* mobile onClick menu  */

.dark-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.7;
}

.hidden {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: var(--white);
  width: 100%;
  height: 10vh;
}

/* hero section */
.hero-section {
  margin-top: -4rem;
  display: flex;
  justify-content: space-between;
}

.hero-img {
  width: 60%;
}

.hero-container {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.shop-now-btn {
  border: none;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
}

.arrow-btns-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  display: flex;
  justify-content: center;
}

.arrow-left-btn,
.arrow-right-btn {
  width: 50%;
  background-color: var(--black);
  padding: 2rem 4rem;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.arrow-left-btn:hover,
.arrow-right-btn:hover {
  background-color: var(--veryDarkGray);
}

/* about us section */
.about-us-section {
  display: flex;
  justify-content: space-between;
}
.about-us-container {
  width: 40%;
  padding: 1.5em 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-us-img {
  width: 30%;
}

.hamburger-menu-btn {
  background-color: transparent;

  margin: 0px;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.mobile-nav-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  padding-left: 40vw;
  font-weight: bold;
}

.hide {
  opacity: 0;
}

@media (max-width: 968px) {
  /* navbar */
  .navbar {
    margin: 1em 0em 0em 0em;
    width: 50%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  /* hero section */
  .hero-section {
    margin-top: -5rem;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    width: 100%;
  }

  .hero-container {
    width: 90%;
    padding: 2rem 0rem;
  }

  .arrow-btns-container {
    top: 0;
    right: 0;
    bottom: auto;
    left: auto;
    width: 50%;
  }

  .arrow-left-btn,
  .arrow-right-btn {
    width: 50%;
    padding: 1rem 2rem;
  }

  /* about us section */
  .about-us-section {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .about-us-container {
    width: 80%;
    padding: 2rem 6rem;
  }

  .about-us-img {
    width: 100%;
  }
}
