@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");

:root {
  --darkGray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --veryDarkGray: hsl(0, 0%, 27%);
}

html,
* {
  font-family: "League Spartan", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}
body {
  background-color: var(--white);
}
a {
  text-decoration: none;
  color: var(--white);
}
p {
  color: var(--darkGray);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.6rem;
}

/* navbar */
.navbar {
  position: sticky;
  top: 60px;
  left: 3vw;
  z-index: 10;
  padding: 1rem 2rem;

  font-size: 1.1rem;

  width: 50%;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
}

.nav-menu {
  margin-left: 1%;

  display: flex;

  list-style: none;
}

.nav-menu li {
  margin-left: 2rem;
  color: var(--white);
  cursor: pointer;
}

/* mobile onClick menu  */

.dark-bg {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
  opacity: 0.7;
}

.hidden {
  display: none;
}

.mobile-menu {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 5;
  background-color: var(--white);
  width: 100%;
  height: 82px;
  padding: 1rem 2rem;
}

/* hero section */
.hero-section {
  margin-top: -60px;
  display: flex;
  justify-content: space-between;
}

.hero-img-container {
  position: relative;
  width: 60%;
}

.hero-img {
  width: 100%;
  height: 100%;
}

.hero-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.hero-content h1 {
  font-size: 4rem;
  font-weight: 600;
}

.shop-now-btn {
  border: none;
  background-color: transparent;
  color: var(--black);
  cursor: pointer;
  font-weight: 500;
  font-size: 1.6rem;
  letter-spacing: 1rem;
}

.arrow-btns-container {
  position: absolute;
  bottom: 0;
  right: -16.6%;
  width: 16.6%;
  display: flex;
  justify-content: center;
}

.arrow-left-btn,
.arrow-right-btn {
  width: 50%;
  background-color: var(--black);
  padding: 2rem 2rem;
  border: none;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.arrow-left-btn:hover,
.arrow-right-btn:hover {
  background-color: var(--veryDarkGray);
}

/* about us section */
.about-us-section {
  display: flex;
  justify-content: space-between;
}
.about-us-container {
  width: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  gap: 1rem;
}
.about-us-container p {
  width: 80%;
}

.about-us-container h3 {
  width: 80%;
  font-size: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
}

.about-us-img {
  width: 30%;
}

.hamburger-menu-btn {
  background-color: transparent;

  margin: 0px;
  border: none;
  cursor: pointer;
  z-index: 20;
}

.mobile-nav-menu {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  padding-left: 40vw;
  font-weight: 600;
  font-size: 1.2rem;
}

.hide {
  opacity: 0;
}

@media (max-width: 1468px) {
  html,
  * {
    overflow-x: hidden;
  }

  html {
    font-size: 16px;
  }

  p {
    font-size: 1.3rem;
  }

  /* hero section */
  .hero-section {
    margin-top: -51px;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .hero-img-container {
    position: relative;
    width: 100%;
  }

  .hero-img {
    width: 100%;
    height: 100%;
  }

  .hero-container {
    width: 84%;
    padding: 6rem 0rem;
    align-items: flex-start;
  }

  .hero-content {
    width: 100%;
  }

  .hero-content h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  .shop-now-btn {
    font-size: 1.2rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    font-weight: 700;
  }

  .arrow-btns-container {
    bottom: 3px;
    right: 0;
    width: 20%;
  }

  /* about us section */
  .about-us-section {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .about-us-container {
    width: 84%;
    padding: 0;
    align-items: flex-start;
    padding: 6rem 6rem;
  }

  .about-us-container h3 {
    width: 100%;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
  }
  .about-us-container p {
    width: 100%;
  }

  .about-us-img {
    width: 100%;
  }
}

@media (max-width: 968px) {
  html {
    font-size: 12px;
  }

  p {
    font-size: 1.4rem;
  }
  a {
    color: var(--black);
  }

  /* navbar */
  .navbar {
    top: 30px;
    left: 3vw;
    z-index: 10;
    padding: 1rem 2rem;

    width: 50%;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .arrow-btns-container {
    width: 30%;
  }

  .arrow-left-btn,
  .arrow-right-btn {
    width: 50%;
    padding: 2rem 2rem;
  }
}
